 /* imports */
@import "./imports/_mixins.less";
@import "./imports/_grid.less";
@import "./imports/_variables.less";
@import "./imports/_fonts.less";


html {
  height: 100%;
}

body {
  background-color: #022A54;
  color:#ffffff;
  
  font-size: 19px;
  font-family: 'Roboto', sans-serif;

  display: flex;
  flex-direction: column;
  height: 100%;
}


.page {
  &__header {
   flex: 0 0 auto;
  }

  &__main {
     flex: 1 0 auto;
     
     display: flex;
     align-items: center;
  }

  &__footer {
     flex: 0 0 auto;
  }  
}

.header {
  &__container {
    display: flex;
    justify-content: space-between;
    align-items:center;
  }

  &__help {
    display: block;
    
    width: 40px;
    height: 40px;

    background-image: url('../img/facebook.svg');
    background-size: contain;
    background-repeat: no-repeat;
  }
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  
  font-family: 'Oswald', sans-serif;

  &__item {
    font-weight: normal;
    margin-bottom: 8px;
    
    &:last-child {
      margin-bottom: 0;
    }
  }
}



.contacts {
  text-align: center;
  

  span {
    display: block;
  }

  &__phone {
    padding: 25px 50px;
    display: inline-block;
    background-image: url('../img/phone.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    color:#ffffff;
    text-decoration: none;

  }

}

.parallax {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items:center;

  &__part {
    margin: 0 45px;

    &--logo {

    }

    &--list {
      border-left: 1px solid #ffffff;
      padding-left: 45px;
    }
  }
}
